.gradient-background {
  background: linear-gradient(300deg, #29abe270, #fee9f4, #e8178a70);
  /* background: linear-gradient(300deg, #29abe2bf, #ffffff, #e8178a85); */
  /* background: linear-gradient(300deg, #29abe299, #fff, #e8178a70); */
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
